<div class="container m-5 d-flex flex-column align-items-center">
  <h1 style="letter-spacing: 2px">Explore our short URL generator</h1>
  <img class="my-5" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="bond.pic" style="max-height: 200px; max-width: 200px;">

  <form action="/new" method="POST">
    <input type="text" class="form-control" name="URL" placeholder="Input URL here..." style="height: 50px; width: 800px; border-radius: 15px; background-color: #F5F5F5;" required>
    <div class="d-flex justify-content-center mt-5">
      <button type="submit" class="btn btn-outline-primary" style="height: 40px; width: 130px; border-radius: 15px; font-weight: 600; letter-spacing: 1px;">Shorten</button>
    </div>
  </form>


</div>