<div class="container text-center" style="margin-top: 50px;">
  <div class="row g-2">
    <div class="title" style="mt-8">
      <h1>URL Shortener
    </div>
  </div>
  <div class="image">
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="image"
      style="height: 200px; width: 200px; margin-top: 30px">
  </div>
  <form>
    <div class="mb-3; mt-5">
      <input type="text" class="form-control" id="origin_url" placeholder="Input URL here">
    </div>
    <button type="submit" class="btn btn-outline-primary mt-4">Shorten</button>
  </form>
</div>
</div>