<div class="container m-5 d-flex flex-column align-items-center">
  <h1 style="letter-spacing: 2px">WoW! There is your short URL results.</h1>
  <img class="my-5" src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
    alt="bond.pic" style="max-height: 200px; max-width: 200px;">

  <h2>Success!</h2>
  <p id="generatedURL">{{origin}}/{{shortURL}}</p>
  <div class="d-flex justify-content-center mt-5">
    <button onclick="copy()" class="copy btn btn-primary"
      style="height: 40px; width: 130px; border-radius: 15px; font-weight: 600; letter-spacing: 1px;">Copy</button>
  </div>

  <script>
    function copy() {
      const URL = document.getElementById("generatedURL")
      navigator.clipboard.writeText(URL.innerText)
        .then(() => alert('copied'))
        .catch(error => console.log(error))
    }
  </script>

</div>